:root {
  --color-texto: #FFFFFF;
  --color-texto2: #000000;
  --color-detalles: #1c1b1b2f;
  --color-detalles2: #6a6a6a6d;
  --color-detalles-unicos: #790000;
  --tipografia-titulos: 'Playfair Display', serif; 
  --tipografia-texto:'Open Sans', sans-serif;
}

*{
  padding: 0;
  margin: 0;
}

.fondo-inicio{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;

}

/* NavBar*/

.div-navbar{
 position: absolute;
 width: 100%;
 height: 150px;
 top: 0;
 left: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 2;
background-color: var(--color-detalles2)
 
 
}

.title-h1{
  margin: .4em 0 0 2em;
  color: var(--color-texto);
  font-family: var(--tipografia-titulos);
  font-size: 2.5em;
}


.ul-navbar{
  margin-left: -10em;
}


.ul-navbar:hover>:not(:hover) {
  opacity: .4;
}

.li-navbar{
   list-style: none;
   display: inline-block;
   padding: 2em;
  transition: .3s;
}
  .link-navbar{
    color: var(--color-texto);
    font-size: 1.6em;
    text-decoration: none;
  }


.div-carrito{
  margin-right: 1em;
}
  
.carrito-imagen{
    width: 65px;
    
}

/* home*/

.container{
  position: absolute;
  margin-top:-25% ;
  margin-left: 25%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  
}

.info-empresa{
  font-size: 25px;
  width: 800px;
  color: var(--color-texto);
}

/*Mas INformacion*/


.mas-info{
  margin: 10% 20%;
}

.mas-info-h3{
  font-size: 50px;
  font-family: var(--tipografia-titulos);

}

.pedidos, .cambios{
  margin:10%;
 
}

.tittles-h3{
  font-size: 50px;
  font-family: var(--tipografia-titulos);
}

.texto-tittle{
  
  font-size: 25px;
}


/*formulario*/

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10% 65%;

}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #555;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}